MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxxx.mongodb.net/aether
MONGODB_DB=aether_db
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxx
OPENSKY_USERNAME=
OPENSKY_PASSWORD=
AISSTREAM_API_KEY=xxxxxxxxxxxxxxxxxxxx
DEMO_MODE=false
ENABLE_YOLO=true
